<ng-template #success>
  <mat-list>
    @for (story of topStories(); track story.story_id) {
      <mat-list-item>
        <a
          matListItemTitle
          [routerLink]="['item', story.story_id]"
          [title]="story.title"
          >{{ story.title }}</a
        >

        <a
          class="url"
          matListItemMeta
          target="_blank"
          rel="noreferrer noopener"
          [title]="story.url"
          [href]="story.url"
        >
          {{ story.url }}
        </a>

        <div matListItemLine>
          <!---->{{ story.points }} points by {{ story.author }} |
          {{ story.created_at | dateAgo }} | {{ story.num_comments }} comments
        </div>
      </mat-list-item>

      @if (!$last) {
        <mat-divider></mat-divider>
      }
    } @empty {
      <mat-list-item>No stories</mat-list-item>
    }
  </mat-list>
</ng-template>

@switch (status()) {
  @case ('loading') {
    <div class="loader">
      <mat-spinner />
    </div>
  }
  @case ('error') {
    <p>Oops... :(</p>
    <p>{{ error() }}</p>
  }
  @case ('success') {
    <ng-container [ngTemplateOutlet]="success"></ng-container>
  }
}

<mat-paginator
  class="paginator"
  showFirstLastButtons
  [pageSize]="hitsPerPage()"
  [pageIndex]="page()"
  [length]="numberHits()"
  hidePageSize
  (page)="onPageChange($event)"
></mat-paginator>
