:host {
  display: block;
  height: calc(
    100% - var(--mat-toolbar-standard-height) - var(
        --mat-paginator-container-size
      )
  );
  width: 100%;

  hn-loader.loading {
    display: block;
    height: 100%;
  }

  .url {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  .paginator {
    position: sticky;
    bottom: 0;
  }
}

@media only screen and (max-width: 960px) {
  :host {
    .url {
      max-width: 200px;
    }
  }
}

@media only screen and (max-width: 600px) {
  :host {
    .url {
      display: none !important;
    }
  }
}
